.DS_Store
catalog/templates
catalog/waveforms/*
data/LFEcatalog/*
data/PANGA/*
data/Shelly_2017/*
data/timelags/*
data/.DS_Store
figures/AoA/gmt.history
longrange/__pycache__/*
longrange/absolutevalue_Plourde/*
longrange/absolutevalue_Shelly/*
longrange/variance_moulines_Plourde/*
longrange/variance_moulines_Shelly/*
longrange/variance_Plourde/*
longrange/variance_Shelly/*
notebooks/.ipynb_checkpoints
timelags/ac/*
timelags/cc/*
timelags/plot_cc/*
utils/__pycache__/*
wmtsa/__pycache__/*

