.DS_Store
catalog/templates
catalog/timearrival
catalog/waveforms/*
data/Chestler_2017/__pycache__/*
data/Chestler_2017/BS/*
data/Chestler_2017/LFEdistribution/*
data/Chestler_2017/Templates/*
data/Chestler_2017/timeseries/*
data/Chestler_2017/*.m
data/Chestler_2017/*.mat
data/Chestler_2017/*.rtf
data/LFEcatalog/detections/*
data/LFEcatalog/LFEdistribution/*
data/LFEcatalog/timeseries/*
data/LFEcatalog/waveforms/*
data/LFEcatalog/*.m
data/LFEcatalog/*.txt
data/PANGA/*
data/Shelly_2017/LFEdistribution/*
data/Shelly_2017/timeseries/*
data/Shelly_2017/*.txt
data/Sweet_2014/*
data/timelags/*
data/.DS_Store
longrange/__pycache__/*
longrange/absolutevalue_Chestler/*
longrange/absolutevalue_Plourde/*
longrange/absolutevalue_Shelly/*
longrange/variance_moulines_Chestler/*
longrange/variance_moulines_Plourde/*
longrange/variance_moulines_Shelly/*
longrange/variance_Chestler/*
longrange/variance_Plourde/*
longrange/variance_Shelly/*
longrange/varianceresiduals_Chestler/*
longrange/varianceresiduals_Plourde/*
longrange/varianceresiduals_Shelly/*
notebooks/.ipynb_checkpoints
raytracing/.ipynb_checkpoints
raytracing/__pycache__/*
slowslip/__pycache__/*
slowslip/*.eps
slowslip/CLRS/*
slowslip/CUSH/*
slowslip/FRID/*
slowslip/PGC5/*
slowslip/PNCL/*
slowslip/PTAA/*
slowslip/SQIM/*
timelags/ac/*
timelags/cc/*
timelags/plot_cc/*
utils/__pycache__/*
wmtsa/__pycache__/*

